.box {
    border-style: solid;
}


/* Add 50px at the bootom of the page*/

body {
    margin-bottom: 50px;
}


/* Most posts section to right */

.profile {
    margin-right: 40px;
}


/* Adding font properties to side bar */

ul li a {
    display: block;
    font-size: 20px;
    color: black;
    padding: 8px 16px;
    margin: 0;
}


/* Change the color of Navigation links on hover */

li a:hover {
    color: white;
    background-color: #555;
    text-decoration: none;
}


/*Create margin of 50 pixels at the top of website */

.brandName {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
}


/*Remove bullet points from list on side navigation*/

ul {
    list-style-type: none;
    background-color: #f1f1f1;
    width: 100%;
    padding: 0;
}


/* Sets the active element in side navigation to green color. */

.active {
    background-color: #4CAF50;
    color: white;
}